.home {
  margin: 10px 15px;
}

.home__productLists {
  display: flex;
  z-index: 1;
  overflow-x: scroll;
}

.home__productLists::-webkit-scrollbar {
  display: none;
}

.home__productLabel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5px;
}
.home__productLabel > h2 {
  font-variant: petite-caps;
  font-weight: 400;
  letter-spacing: 1.8px;
  font-size: 1.8rem;
}
